<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.richinfo.homemodel">

    <application>
        <activity android:name=".activity.main.found.FoundDetailsActivity" />
        <activity android:name=".TestActivity" /> <!-- 首页 -->
        <activity
            android:name=".activity.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 闪屏页面 -->
        <activity
            android:name=".activity.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/app_SplashTheme" />
    </application>

</manifest>